<nav class="navbar navbar-dark bg-dark navbar-expand-lg border-bottom border-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="">TestApp</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" routerLink="list" routerLinkActive="active">List</a>
          <a class="nav-link" routerLink="form" routerLinkActive="active">Form</a>
        </div>
      </div>
    </div>
  </nav>
<router-outlet></router-outlet>
